<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <title>Startup Workshop</title>
  </head>

  <body class="<%= @controller_name %>">
      <nav class="navbar">
        <a class="logo"></a>
        <div class="menu">
          <a href="" class="link"></a>
          <a href="" class="link"></a>
          <a href="" class="link"></a>
          <div class="right menu"><a href=""></a><a href=""></a></div>
        </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner %>

      

    </div> <!-- /container -->
    <footer class="info">
      © 2015, Cassius Chen - 京ICP备15052812号
    </footer>
    
  </body>
</html>
