.card {
	width: 100%;
	@extend %shadow;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 15px;
	padding: 15px;
	position: relative;

	.icon {
		display: inline-block;
		vertical-align: top;
		width: 50px;
		height: 50px;
		border-radius: 90px;
		margin-right: 15px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 1000px;

		}
	}
	.info {
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		width: 450px;
		.title {
			font-weight: 800;
			font-size: 18px;
		}
		.subtitle {
			opacity: .5;
		}

		.des {
			margin-top: 15px;
			width: 100%;
		}
	}
	.requirement {
		display: inline-block;
		vertical-align: baseline;
		width: 300px;
		margin-left: 30px;

		dt,dd {
			display: inline-block;
			vertical-align: top;
		}

		.group {
			margin-bottom: 10px;
		}

		dt {
			width: 60px;
			margin-right: 10px;
			opacity: .5;
			text-align: right;
		}

		dd {
			width: 220px;
		}

		.tag {
			margin: 0;
			padding: 0;
		}
	}
	.attend {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $red;
		width: 70px;
		display: block;
		text-align: center;
		&:hover, &:active {
			cursor: pointer;
		}

		.touch_area {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		

		span.add {
			color: white;
			font-size: 28px;
			line-height: 30px;
			position: absolute;
			top: calc(50% - 15px);
			right: calc(50% - 10px);
		}

		form {
			$left-gap: 20px;
			margin-left: $left-gap;
			width: calc(100% - $left-gap);
			height: 100%;
			display: none;
			color: rgba(255,255,255,.8);
			background-color: $dark;
			position: relative;

			.header, .sub-header {
				width: 100%;
				text-align: left;
			}
		}

		&.open {
			width: 100%;
			&:hover, &:active {
				cursor: default;
			}

			.touch_area {
				top: 0;
				left: 0;
				bottom: 0;
				right: calc(100%- $left-gap);
			}
			

			span.add {
				display: none;
			}

			form {
				display: block;
				padding: 15px;
				.header {
					font-size: 18px;
				}
				a.close {
					float: right;
					text-align: right;
					position: absolute;
					top: 15px;
					right: 15px;
					display: block;
					padding: 10px;
					border-radius: 2px;

					&:hover, &:active {
						background-color: $red;
						cursor: pointer;
					}
				}

				input {
					height: 28px;
					padding: 5px 10px;
					line-height: 18px;
					font-size: 14px;
					border-radius: 2px;
					background-color: rgba(255,255,255,.2);
					border: none;
					color: white;
					width: 46%;
					margin-top: 5px;

					&.half {
						width: 23%;
					}

					&:hover, &:focus, &:active {
						background-color: rgba(255,255,255,.5);
					}

					&[type='submit'] {
						width: 92%;
					}

					&.submit {
						background-color: $red;
						opacity: .8;

						&:hover, &:focus, &:active {
							background-color: $red;
							opacity: 1;
							cursor: pointer;
						}
					}
				}
			}
		}


	}


}

@media(max-width: 600px) {
	.card {
		.info {
			width: calc(100% - 15px - 60px - 60px - 10px);
			.des {
				
			}
		}
		.requirement {
			margin-top: 18px;
			display: block;
			
			dd {
				width: calc(100% - 15px - 60px - 60px - 20px);
			}
			
		}

		form {
			.sub-header {
				margin-bottom: 10px;
			}
			input {
				width: 90% !important;

				margin: 5px auto;

				&.half {
					width: 45% !important;
				}

			}
		}
	}
}