nav.navbar {
	font-size: 14px;
	@include linear-gradient(30deg, #FF1F5B, #60A5D5);
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	@extend %shadow;

	.logo {
		background-image: url(/images/logo-light.svg);
		height: 60px;
		//margin-top: 10px;
		width: 180px;
		background-repeat: no-repeat;
		background-size: auto 250%;
		background-position: 0 center;
		display: inline-block;
		margin-left: 15px;
	}
}